$color-primary-dark:#34263b;
$color-primary-light:#60476d;

$color-secondary : #FD367E;
$color-secondary-light:#ff9d9d;
$color-secondary-dark : #ff005d;

$color-tertiary:#F6C90E;
$color-tertiary-light1:#FFFDDE;
$color-tertiary-light2:#FFFDA2;

$color-heightlight : #ff9d9d65;

$color-white:#fff;
$color-white-1:#fbfbfb;
$color-white-2:#f9f9f9;

$color-black:#000;

